//colors variables

@use './config' as *;



$secondary-black : #333333;

$primary-black: #000000;

$white-primary: #ffffff;

$secondary-color: #8A808C;

$primary-green: #A1CF7C;

$dark-green: #195A00;